<main id="account-login-page">
    <% if (title) { %>
        <h1 class="classification-title"><%= title %></h1>
    <% } else { %>
        <% res.redirect('/') %>
    <% } %>

    <%- loginForm %> 

</main>