<main id="account-login-page">
    <% if (title) { %>
        <h1 class="classification-title"><%= title %></h1>
    <% } %>


    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    
    <form id="login-form" action="/account/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="account_email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="account_password" required minlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <small class="password-requirements">
            * Password must be at least 12 characters long and include at least one uppercase letter, one number, and one special character.
        </small>

        <button type="submit">Login</button>
    </form>

    <p>No account? <a href="/account/register">Sign up</a></p>
</main>

<script>
    // Waits 5 seconds and makes alerts fade out
    setTimeout(() => {
        const alerts = document.querySelectorAll(".alert");
        alerts.forEach(alert => {
            alert.classList.add("fade-out");
            setTimeout(() => alert.remove(), 1000); // Removes element after animation
        });
    }, 5000);
</script>
