<main id="account-register-page">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } %>
    
    <%- messages %>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>


    <%- registerForm %>
</main>

<script>
    // Waits 5 seconds and makes alerts fade out
    setTimeout(() => {
        const alerts = document.querySelectorAll(".alert");
        alerts.forEach(alert => {
            alert.classList.add("fade-out");
            setTimeout(() => alert.remove(), 1000); // Removes element after animation
        });
    }, 5000);
</script>