<section class="intro">
    <h2>Welcome to CSE Motors!</h2>
    <%- messages() %>
    <div class="car-highlight">
        <picture>
            <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 1024px)">
            <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
        </picture>
    </div>
    <div class="details">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
    </div>
</section>

<div class="content_review_upgrades">
    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    
    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="grid">
            <div>
                <div class="image-container">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <a href="https://example.com/flux-capacitor" target="_blank">Flux Capacitor</a>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="https://example.com/flame-decals" target="_blank">Flame Decals</a>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href="https://example.com/bumper-stickers" target="_blank">Bumper Stickers</a>
            </div>
            <div>
                <div class="image-container">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href="https://example.com/hub-caps" target="_blank">Hub Caps</a>
            </div>
        </div>
    </section>
</div>

