<% if (messages && messages.length > 0) { %>
    <ul class="flash-messages">
        <% messages.forEach(function(msg) { %>
        <li><%= msg.text %></li>
            <% }); %>
    </ul>
<% } %>

<%- addClassificationForm %>