<% if (messages && messages('info').length > 0) { %>
    <div class="flash-messages">
        <% messages('info').forEach(msg => { %>
            <p class="<%= msg.type %>"><%= msg.text %></p>
        <% }) %>
        </div>
    <% } %>
    <h1>Vehicle Management</h1>

    <%- managementView %>
